/* css elements */

.portfolioJumbo {
    height: calc(100vh - 25px);
    background-image: url(../images/jumboimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

h1 {
    padding-bottom: 30px;
}

.cardContainer {
    margin-bottom: 15px;
}
.card {
    margin: 0 auto;
}

.projects {
    align-items: center;
}

.skills {
    background-color: #E7E9EB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactme {
    padding-top: 30px;
    display: flex;
    padding-bottom: 30px;
    align-content:center;
    justify-content: center;
}

.signUp form {
    margin: 35px auto;
    background-color: #f2f2f2;
    padding: 25px;
    border-radius: 7px;
    width: 65%;
}